.apptimizm-ui-default-table
  display: table
.apptimizm-ui-default-table-head
  display: table-header-group
.apptimizm-ui-default-table-gap
  display: table-row
.apptimizm-ui-default-table-body
  display: table-row-group
.apptimizm-ui-default-table-row
  display: table-row
.apptimizm-ui-default-table-cell
  display: table-cell
.apptimizm-ui-default-table-filter-param
  background-color: rgba(100, 208, 218, 0.2)
  background-image: url(./assets/cross.svg)
  background-position: right 4px center
  background-repeat: no-repeat
  border-radius: 4px
  cursor: pointer
  display: inline-block
  font-size: 14px
  padding: 4px 24px 4px 8px
  